{% extends "layout.html" %}

{% block content %}


<div class="jumbotron text-center">
    <h1>Appraise your gold rings for free!</h1>
</div>
<form method="post" action="#">
    <div class="row">
        <div class="col-md-3 calc-button-div">
            <button type="submit" class="calc-button"><h3>CALCULATE</h3></button>
        </div>
        <div class="col-md-3 text-center">
            <h2>Estimated Value:</h2>
        </div>
        <div class="col-md-5 text-center" id="value-display-div">
            <div class="jumbotron" id="value-display-box">&nbsp;</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 text-center">
            <h2>Primary Stone</h2>
            <fieldset class="property-div">
                <div>
                    <input type="radio" id="primary-none-radio" name="primary-stone" value="none" checked>
                    <label for="primary-none-radio">none</label>
                </div>
                {% for val in ring_properties_dict.primary_stone.keys() | sort() %}
                {% set idVal = val | replace(' ', '-') %}
                <div>
                    <input type="radio" id="primary-{{idVal}}-radio" name="primary-stone" value="{{idVal}}">
                    <label for="primary-{{idVal}}-radio">{{val}}</label>
                    {% if ring_properties_dict.primary_stone[val] %}
                    {% for prop in ring_properties_dict.primary_stone[val].keys() | sort() %}
                    <div class="primary-property-radio" id="primary-{{idVal}}-{{prop}}-dropdown">
                        <select name="primary-property-{{idVal}}-{{prop}}" id="primary-{{idVal}}-{{prop}}-option">
                            <option selected class="default-dropdown-option">{{prop}}</option>
                            {% for propVal in ring_properties_dict.primary_stone[val][prop] | sort() %}
                            {% set _propVal = propVal | replace('-', ' ') %}
                            <option value="{{_propVal}}">{{_propVal}}</option>>
                            {% endfor %}
                        </select>
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
                {% endfor %}
            </fieldset>
        </div>
        <div class="col-md-3 text-center">
            <h2>Secondary Stones</h2>
            <fieldset class="property-div">
                {% for val in ring_properties_dict.secondary_stones.keys() | sort() %}
                {% set idVal = val | replace(' ', '-') %}
                <div>
                    <input type="checkbox" id="secondary-{{idVal}}-checkbox" name="secondary-{{idVal}}-stone" value="{{idVal}}">
                    <label for="secondary-{{idVal}}-checkbox">{{val}}</label>
                    {% if ring_properties_dict.secondary_stones[val] %}
                    {% for prop in ring_properties_dict.secondary_stones[val].keys() | sort() %}
                    <div class="secondary-property-checkbox" id="secondary-{{idVal}}-{{prop}}-dropdown">
                        <select name="secondary-property-{{idVal}}-{{prop}}" id="secondary-{{idVal}}-{{prop}}-option">
                            <option selected class="default-dropdown-option">{{prop}}</option>
                            {% for propVal in ring_properties_dict.secondary_stones[val][prop] | sort() %}
                            {% set _propVal = propVal | replace('-', ' ') %}
                            <option value="{{_propVal}}">{{_propVal}}</option>>
                            {% endfor %}
                        </select>
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
                {% endfor %}
            </fieldset>
        </div>
        <div class="col-md-3 text-center">
            <h2>Carat Options</h2>
            <fieldset class="property-div">
                <legend>Total Diamond Carats</legend>
                <input type="number" name="total-diamond-carats" id="total-diamond-carats" value="0" step="0.01" min="0" max="8.00">
            </fieldset>
            <fieldset class="property-div">
                <legend>Total Jewel Carats</legend>
                <input type="number" name="jewel-weight" id="jewel-weight" value="0" step="0.01" min="0" max="15.00">
            </fieldset>
            <fieldset class="property-div">
                <legend>Gold Carats</legend>
                <select name="gold-carats" id="gold-carats">
                    {% for val in ring_properties_dict.gold_carats | sort(reverse = True) %}
                    <option value="{{val}}">{{val}}</option>
                    {% endfor %}
                </select>
            </fieldset>
        </div>
        <div class="col-md-3 text-center">
            <h2>Additional Options</h2>
            <fieldset class="property-div">
                <legend>Brand Quality</legend>
                {% for val in ring_properties_dict.brand_quality | sort(reverse = True) %}
                {% if loop.index == 1 %}
                <div>
                    <input type="radio" id="{{val}}" name="brand-quality" value="{{val}}" checked>
                    <label for="{{val}}">{{val}}</label>
                </div>
                {% else %}
                <div>
                    <input type="radio" id="{{val}}" name="brand-quality" value="{{val}}">
                    <label for="{{val}}">{{val}}</label>
                </div>
                {% endif %}
                {% endfor %}
            </fieldset>
            <fieldset class="property-div">
                <legend>Gold Color</legend>
                {% for val in ring_properties_dict.gold_color | sort(reverse = True) %}
                {% if loop.index == 1 %}
                <div>
                    <input type="radio" id="{{val}}" name="gold-color" value="{{val}}" checked>
                    <label for="{{val}}">{{val}}</label>
                </div>
                {% else %}
                <div>
                    <input type="radio" id="{{val}}" name="gold-color" value="{{val}}">
                    <label for="{{val}}">{{val}}</label>
                </div>
                {% endif %}
                {% endfor %}
            </fieldset>
            <fieldset class="property-div">
                <legend>Other</legend>
                {% for val in ring_properties_dict.other | sort() %}
                {% set _val = val | replace('-', ' ') %}
                <div>
                    <input type="checkbox" id="{{val}}" name="other-{{val}}-properties" value="{{val}}">
                    <label for="{{val}}">{{_val}}</label>
                </div>
                {% endfor %}
            </fieldset>
        </div>
    </div>
    <div class="row">
        <div class="text-center calc-button-div">
            <button type="submit" class="calc-button"><h3>CALCULATE</h3></button>
        </div>
    </div>
</form>

{% endblock %}

